<a href="https://colab.research.google.com/github/ctalamilla/ugr-lcd-tp3-cdd/blob/main/ugr_lcd_tp3_cdd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabajo Práctico Nro. 3

FAO es la agencia de las Naciones Unidas que lidera el esfuerzo internacional para poner fin al hambre.

Según da cuenta en su sitio de Internet (www.fao.org) trabaja para lograr la seguridad alimentaria para todos, y al mismo tiempo garantizar el acceso regular a alimentos suficientes y de buena calidad para llevar una vida activa y sana. Posee 195 miembros - 194 países y la Unión Europea y trabaja en más de 130 países en todo el mundo.

En este caso FAO se ha dado cuenta que posee mucha información disponible y desea contratar un equipo de Analistas y Científicos de datos.

Para ello FAO pone a disposición su dataset "Totales de las emisiones" disponible en la dirección: https://www.fao.org/faostat/es/#data/GT y espera que el grupo de consultores les realice una "Propuesta de Trabajo" dando cuenta de lo que podrían realizar. (se recomienda descargar el archivo: Todos los Datos Normalizado (16.62 MB) )

La "Propuesta de Trabajo" debería contener (como mínimo)

1) Una caratula con un Titulo y la descripción del equipo

2) Una primera sección donde el equipo describe que entiende por Ciencia de Datos

El objetivo de esta sección es comentarle a los funcionarios/as de FAO de que se trata la Ciencia de Datos como para brindar un contexto para la propuesta específica.

Definición y contexto histórico.
Importancia y aplicaciones en la actualidad.
Breve visión general de las etapas del ciclo de vida de un proyecto de Ciencia de Datos.
Fundamentos y Métodos: Tipos de datos: datos estructurados, no estructurados y semiestructurados. Procesamiento y limpieza de datos. Recolección y Almacenamiento.
Exploración y Visualización de Datos: Técnicas de exploración y análisis exploratorio de datos (EDA). Visualización de resultados.
Modelado y Aprendizaje Automático: Breve conceptualización de lo que significa modelar y (si fuera posible) alguna categorización de Aprendizaje Automático en términos de: Algoritmos de aprendizaje supervisado y no supervisado. (opcional)
Ética y Privacidad en Ciencia de Datos
Algunos ejemplos (2 o 3) de casos aplicaciones de la ciencia de datos en diferentes campos, como negocios, salud y gobierno.


**3) Una segunda sección con la "Propuesta de Trabajo" propiamente dicha:**

El objetivo de esta sección es comentar que es lo que se propone hacer con los datos.


Breve descripción del Dataset
Acciones a realizar
Aspectos que se desea observar
Métodos y/o modelo a aplicar

En términos generales, los objetivos del trabajo que se propone realizar (considerando que están haciendo una propuesta de trabajo)


Notas:

Se deben conformar grupo de 3 a 5 participantes
Se espera que puedan subir su trabajo en formato PDF.
En esta instancia (este Trabajo Práctico) se observará la primer sección y la propuesta de trabajo. No se espera la realización del trabajo, sino solamente la descripción de lo que se propone realizar.
Luego, durante las mesas de Examen, cada grupo deberá exponer un Notebook (en Google Colab) del trabajo realizado para obtener la aprobación de la materia.

## Seccion 2 -

In [1]:
# Importar las librerías necesarias
import requests
import zipfile
import os

In [2]:
# Descargar el archivo ZIP
url = "https://bulks-faostat.fao.org/production/Emisiones_Totales_S_Todos_los_Datos_(Normalizado).zip"
zip_path = "Emisiones_Totales_S_Todos_los_Datos_(Normalizado).zip"

In [3]:
# Descargar el archivo
response = requests.get(url)
with open(zip_path, "wb") as file:
    file.write(response.content)

# Descomprimir el archivo ZIP
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("Emisiones_Datos")  # Carpeta donde se extraerán los archivos

In [4]:
# Listar archivos extraídos
print("Archivos extraídos:")
print(os.listdir("Emisiones_Datos"))

Archivos extraídos:
['Emisiones_Totales_S_Símbolos.csv', 'Emisiones_Totales_S_Todos_los_Datos_(Normalizado).csv', 'Emisiones_Totales_S_Códigodeláreas.csv']

In [5]:
import pandas as pd

In [6]:
# List extracted files
extracted_files = os.listdir('/content/Emisiones_Datos')
extracted_files

['Emisiones_Totales_S_Símbolos.csv',
 'Emisiones_Totales_S_Todos_los_Datos_(Normalizado).csv',
 'Emisiones_Totales_S_Códigodeláreas.csv']

In [7]:
# Intentar cargar el archivo con la codificación 'latin1' o 'ISO-8859-1'
try:
    data = pd.read_csv(f'/content/Emisiones_Datos/{extracted_files[1]}', encoding='latin1')
except UnicodeDecodeError:
    data = pd.read_csv(f'/content/Emisiones_Datos/{extracted_files[1]}', encoding='ISO-8859-1')

# Mostrar la información básica para verificar la carga
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486527 entries, 0 to 2486526
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Código del área        int64
 1   Código del área (M49)  object
 2   Área                   object
 3   Código del producto    int64
 4   Producto               object
 5   Código del elemento    int64
 6   Elemento               object
 7   Código del año         int64
 8   Año                    int64
 9   Código fuente          int64
 10  Fuente                 object
 11  Unidad                 object
 12  Valor                  float64
 13  Símbolo                object
 14  Nota                   float64
dtypes: float64(2), int64(6), object(7)
memory usage: 284.6+ MB
None
   Código del área Código del área (M49)        Área  Código del producto  \
0                2                  '004  Afganistán                 5064
1                2                  '004  Afganistán                 5064
2                2                  '004  Afganistán                 5064
3                2                  '004  Afganistán                 5064
4                2                  '004  Afganistán                 5064

             Producto  Código del elemento                  Elemento  \
0  Residuos agrícolas                 7234  Emisiones directas (N2O)
1  Residuos agrícolas                 7234  Emisiones directas (N2O)
2  Residuos agrícolas                 7234  Emisiones directas (N2O)
3  Residuos agrícolas                 7234  Emisiones directas (N2O)
4  Residuos agrícolas                 7234  Emisiones directas (N2O)

   Código del año   Año  Código fuente      Fuente         Unidad   Valor  \
0            1961  1961           3050  FAO TIER 1  mil toneladas  0.8762
1            1962  1962           3050  FAO TIER 1  mil toneladas  0.8829
2            1963  1963           3050  FAO TIER 1  mil toneladas  0.8236
3            1964  1964           3050  FAO TIER 1  mil toneladas  0.8882
4            1965  1965           3050  FAO TIER 1  mil toneladas  0.8978

  Símbolo  Nota
0       E   NaN
1       E   NaN
2       E   NaN
3       E   NaN
4       E   NaN

In [8]:
data.head()

,Código del área,Código del área (M49),Área,Código del producto,Producto,Código del elemento,Elemento,Código del año,Año,Código fuente,Fuente,Unidad,Valor,Símbolo,Nota
0,2,'004,Afganistán,5064,Residuos agrícolas,7234,Emisiones directas (N2O),1961,1961,3050,FAO TIER 1,mil toneladas,0.8762,E,NaN
1,2,'004,Afganistán,5064,Residuos agrícolas,7234,Emisiones directas (N2O),1962,1962,3050,FAO TIER 1,mil toneladas,0.8829,E,NaN
2,2,'004,Afganistán,5064,Residuos agrícolas,7234,Emisiones directas (N2O),1963,1963,3050,FAO TIER 1,mil toneladas,0.8236,E,NaN
3,2,'004,Afganistán,5064,Residuos agrícolas,7234,Emisiones directas (N2O),1964,1964,3050,FAO TIER 1,mil toneladas,0.8882,E,NaN
4,2,'004,Afganistán,5064,Residuos agrícolas,7234,Emisiones directas (N2O),1965,1965,3050,FAO TIER 1,mil toneladas,0.8978,E,NaN

In [9]:
def dataframe_summary(df: pd.DataFrame):
    summary = {}

    # Count of columns by data type
    dtype_counts = df.dtypes.value_counts().to_dict()
    summary['column_counts_by_type'] = dtype_counts

    # Analyze each column based on data type
    column_details = {}
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            # For numeric columns, calculate statistics
            stats = {
                'min': df[col].min(),
                'max': df[col].max(),
                'mean': df[col].mean(),
                'median': df[col].median(),
                'p10': df[col].quantile(0.10),
                'p90': df[col].quantile(0.90)
            }
            column_details[col] = stats
        elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
            # For categorical columns, get unique values
            unique_values = df[col].unique().tolist()
            column_details[col] = {'unique_values': unique_values}

    summary['column_details'] = column_details
    return summary

In [10]:
dataframe_summary(data)

<ipython-input-9-72eca1a01cf9>:22: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
<ipython-input-9-72eca1a01cf9>:22: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
<ipython-input-9-72eca1a01cf9>:22: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
<ipython-input-9-72eca1a01cf9>:22: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
<ipython-input-9-72eca1a01cf9>:22: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':

{'column_counts_by_type': {dtype('O'): 7,
  dtype('int64'): 6,
  dtype('float64'): 2},
 'column_details': {'Código del área': {'min': 1,
   'max': 5873,
   'mean': 942.775474386564,
   'median': 150.0,
   'p10': 29.0,
   'p90': 5300.0},
  'Código del área (M49)': {'unique_values': ["'004",
    "'008",
    "'276",
    "'020",
    "'024",
    "'660",
    "'028",
    "'530",
    "'682",
    "'012",
    "'032",
    "'051",
    "'533",
    "'036",
    "'040",
    "'031",
    "'044",
    "'048",
    "'050",
    "'052",
    "'112",
    "'056",
    "'058",
    "'084",
    "'204",
    "'060",
    "'064",
    "'068",
    "'070",
    "'072",
    "'076",
    "'096",
    "'100",
    "'854",
    "'108",
    "'132",
    "'116",
    "'120",
    "'124",
    "'148",
    "'200",
    "'203",
    "'152",
    "'159",
    "'156",
    "'344",
    "'446",
    "'158",
    "'196",
    "'170",
    "'174",
    "'178",
    "'188",
    "'384",
    "'191",
    "'192",
    "'208",
    "'262",
    "'212",
    "'218",
    "'818",
    "'222",
    "'784",
    "'232",
    "'703",
    "'705",
    "'724",
    "'840",
    "'233",
    "'748",
    "'231",
    "'230",
    "'643",
    "'242",
    "'608",
    "'246",
    "'250",
    "'266",
    "'270",
    "'268",
    "'288",
    "'292",
    "'308",
    "'300",
    "'304",
    "'312",
    "'316",
    "'320",
    "'254",
    "'324",
    "'226",
    "'624",
    "'328",
    "'332",
    "'340",
    "'348",
    "'356",
    "'360",
    "'364",
    "'368",
    "'372",
    "'833",
    "'574",
    "'352",
    "'830",
    "'136",
    "'184",
    "'234",
    "'238",
    "'580",
    "'584",
    "'090",
    "'744",
    "'796",
    "'092",
    "'850",
    "'876",
    "'376",
    "'380",
    "'388",
    "'392",
    "'400",
    "'398",
    "'404",
    "'417",
    "'296",
    "'414",
    "'426",
    "'428",
    "'422",
    "'430",
    "'434",
    "'438",
    "'440",
    "'442",
    "'807",
    "'450",
    "'458",
    "'454",
    "'462",
    "'466",
    "'470",
    "'504",
    "'474",
    "'480",
    "'478",
    "'175",
    "'484",
    "'583",
    "'492",
    "'496",
    "'499",
    "'500",
    "'508",
    "'104",
    "'516",
    "'520",
    "'524",
    "'558",
    "'562",
    "'566",
    "'570",
    "'578",
    "'540",
    "'554",
    "'512",
    "'528",
    "'586",
    "'585",
    "'275",
    "'591",
    "'598",
    "'600",
    "'604",
    "'612",
    "'258",
    "'616",
    "'620",
    "'630",
    "'634",
    "'826",
    "'760",
    "'140",
    "'410",
    "'498",
    "'180",
    "'418",
    "'214",
    "'408",
    "'834",
    "'638",
    "'642",
    "'646",
    "'732",
    "'659",
    "'882",
    "'016",
    "'674",
    "'666",
    "'670",
    "'654",
    "'662",
    "'336",
    "'678",
    "'686",
    "'688",
    "'891",
    "'690",
    "'694",
    "'702",
    "'706",
    "'144",
    "'710",
    "'729",
    "'736",
    "'728",
    "'752",
    "'756",
    "'740",
    "'764",
    "'762",
    "'582",
    "'626",
    "'768",
    "'772",
    "'776",
    "'780",
    "'788",
    "'795",
    "'792",
    "'798",
    "'804",
    "'800",
    "'810",
    "'858",
    "'860",
    "'548",
    "'862",
    "'704",
    "'887",
    "'890",
    "'894",
    "'716",
    "'001",
    "'002",
    "'014",
    "'017",
    "'015",
    "'018",
    "'011",
    "'019",
    "'021",
    "'013",
    "'029",
    "'005",
    "'142",
    "'143",
    "'030",
    "'034",
    "'035",
    "'145",
    "'150",
    "'151",
    "'154",
    "'039",
    "'155",
    "'009",
    "'053",
    "'054",
    "'057",
    "'061",
    "'097",
    "'199",
    "'432",
    "'722",
    "'901",
    "'902",
    "'907",
    "'908",
    "'198"]},
  'Área': {'unique_values': ['Afganistán',
    'Albania',
    'Alemania',
    'Andorra',
    'Angola',
    'Anguila',
    'Antigua y Barbuda',
    'Antillas Neerlandesas (ex)',
    'Arabia Saudita',
    'Argelia',
    'Argentina',
    'Armenia',
    'Aruba',
    'Australia',
    'Austria',
    'Azerbaiyán',
    'Bahamas',
    'Bahrein',
    'Bangladesh',
    'Barbados',
    'Belarús',
    'Bélgica',
    'Bélgica-Luxemburgo',
    'Belice',
    'Benin',
    'Bermudas',
    'Bhután',
    'Bolivia (Estado Plurinacional de)',
    'Bosnia y Herzegovina',
    'Botswana',
    'Brasil',
    'Brunei Darussalam',
    'Bulgaria',
    'Burkina Faso',
    'Burundi',
    'Cabo Verde',
    'Camboya',
    'Camerún',
    'Canadá',
    'Chad',
    'Checoslovaq',
    'Chequia',
    'Chile',
    'China',
    'China, Continental',
    'China, RAE de Hong Kong',
    'China, RAE de Macao',
    'China, Taiwán provincia de',
    'Chipre',
    'Colombia',
    'Comoras',
    'Congo',
    'Costa Rica',
    "Côte d'Ivoire",
    'Croacia',
    'Cuba',
    'Dinamarca',
    'Djibouti',
    'Dominica',
    'Ecuador',
    'Egipto',
    'El Salvador',
    'Emiratos Árabes Unidos',
    'Eritrea',
    'Eslovaquia',
    'Eslovenia',
    'España',
    'Estados Unidos de América',
    'Estonia',
    'Eswatini',
    'Etiopía',
    'Etiopía RDP',
    'Federación de Rusia',
    'Fiji',
    'Filipinas',
    'Finlandia',
    'Francia',
    'Gabón',
    'Gambia',
    'Georgia',
    'Ghana',
    'Gibraltar',
    'Granada',
    'Grecia',
    'Groenlandia',
    'Guadalupe',
    'Guam',
    'Guatemala',
    'Guayana Francesa',
    'Guinea',
    'Guinea Ecuatorial',
    'Guinea-Bissau',
    'Guyana',
    'Haití',
    'Honduras',
    'Hungría',
    'India',
    'Indonesia',
    'Irán (República Islámica del)',
    'Iraq',
    'Irlanda',
    'Isla de Man',
    'Isla Norfolk',
    'Islandia',
    'Islas Anglonormandas',
    'Islas Caimán',
    'Islas Cook',
    'Islas Feroe',
    'Islas Malvinas (Falkland Islands)',
    'Islas Marianas del Norte',
    'Islas Marshall',
    'Islas Salomón',
    'Islas Svalbard y Jan Mayen',
    'Islas Turcas y Caicos',
    'Islas Vírgenes Británicas',
    'Islas Vírgenes de los Estados Unidos',
    'Islas Wallis y Futuna',
    'Israel',
    'Italia',
    'Jamaica',
    'Japón',
    'Jordania',
    'Kazajstán',
    'Kenya',
    'Kirguistán',
    'Kiribati',
    'Kuwait',
    'Lesotho',
    'Letonia',
    'Líbano',
    'Liberia',
    'Libia',
    'Liechtenstein',
    'Lituania',
    'Luxemburgo',
    'Macedonia del Norte',
    'Madagascar',
    'Malasia',
    'Malawi',
    'Maldivas',
    'Malí',
    'Malta',
    'Marruecos',
    'Martinica',
    'Mauricio',
    'Mauritania',
    'Mayotte',
    'México',
    'Micronesia (Estados Federados de)',
    'Mónaco',
    'Mongolia',
    'Montenegro',
    'Montserrat',
    'Mozambique',
    'Myanmar',
    'Namibia',
    'Nauru',
    'Nepal',
    'Nicaragua',
    'Níger',
    'Nigeria',
    'Niue',
    'Noruega',
    'Nueva Caledonia',
    'Nueva Zelandia',
    'Omán',
    'Países Bajos (Reino de los)',
    'Pakistán',
    'Palau',
    'Palestina',
    'Panamá',
    'Papua Nueva Guinea',
    'Paraguay',
    'Perú',
    'Pitcairn',
    'Polinesia Francesa',
    'Polonia',
    'Portugal',
    'Puerto Rico',
    'Qatar',
    'Reino Unido de Gran Bretaña e Irlanda del Norte',
    'República Árabe Siria',
    'República Centroafricana',
    'República de Corea',
    'República de Moldova',
    'República Democrática del Congo',
    'República Democrática Popular Lao',
    'República Dominicana',
    'República Popular Democrática de Corea',
    'República Unida de Tanzanía',
    'Reunión',
    'Rumania',
    'Rwanda',
    'Sáhara Occidental',
    'Saint Kitts y Nevis',
    'Samoa',
    'Samoa Americana',
    'San Marino',
    'San Pedro y Miquelón',
    'San Vicente y las Granadinas',
    'Santa Elena, Ascensión y Tristán de Acuña',
    'Santa Lucía',
    'Santa Sede',
    'Santo Tomé y Príncipe',
    'Senegal',
    'Serbia',
    'Serbia y Montenegro',
    'Seychelles',
    'Sierra Leona',
    'Singapur',
    'Somalia',
    'Sri Lanka',
    'Sudáfrica',
    'Sudán',
    'Sudán (ex)',
    'Sudán del Sur',
    'Suecia',
    'Suiza',
    'Suriname',
    'Tailandia',
    'Tayikistán',
    'Territorio de las Islas del Pacífico',
    'Timor-Leste',
    'Togo',
    'Tokelau',
    'Tonga',
    'Trinidad y Tabago',
    'Túnez',
    'Turkmenistán',
    'Turquía',
    'Tuvalu',
    'Ucrania',
    'Uganda',
    'URSS',
    'Uruguay',
    'Uzbekistán',
    'Vanuatu',
    'Venezuela (República Bolivariana de)',
    'Viet Nam',
    'Yemen',
    'Yugoslav RFS',
    'Zambia',
    'Zimbabwe',
    'Mundo',
    'África',
    'África oriental',
    'África central',
    'África septentrional',
    'África meridional',
    'África occidental',
    'Américas',
    'América septentrional',
    'América central',
    'El Caribe',
    'América del Sur',
    'Asia',
    'Asia central',
    'Asia oriental',
    'Asia meridional',
    'Asia sudoriental',
    'Asia occidental',
    'Europa',
    'Europa oriental',
    'Europa septentrional',
    'Europa meridional',
    'Europa occidental',
    'Oceanía',
    'Australia y Nueva Zelandia',
    'Melanesia',
    'Micronesia',
    'Polinesia',
    'Unión Europea (27)',
    'Los países menos desarrollados',
    'Países sin litoral en vías de desarrollo',
    'Pequeñas islas en vías de Desarrollo',
    'Países de bajos ingresos y con déficit de alim.',
    'Import netos alim en Des',
    'Países Anexo I',
    'Países No-Anexo I',
    'OECD']},
  'Código del producto': {'min': 1707,
   'max': 69921,
   'mean': 7951.645431157594,
   'median': 6517.0,
   'p10': 1711.0,
   'p90': 6995.0},
  'Producto': {'unique_values': ['Residuos agrícolas',
    'Cultivo del arroz',
    'Quemado de residuos agrícolas',
    'Fermentación entérica',
    'Gestión del estiércol',
    'Estiércol depositado en las pasturas',
    'Estiércol aplicado a los suelos',
    'Fertilizantes sintéticos',
    'Suelos orgánicos drenados',
    'Suelos orgánicos drenados (CO2)',
    'Suelos orgánicos drenados (N2O)',
    'On-farm energy use',
    'Tierras forestales',
    'Conversión neta de bosques',
    'Incendios de sabana',
    'Incendios en suelos de turba',
    'Incendios forestales',
    'Incendios en los bosques tropicales húmedos',
    'Eliminación de desechos de sistemas agroalimentarios',
    'Fabricación de fertilizantes',
    'Venta de alimentos',
    'Consumo\xa0de alimentos en los hogares',
    'Transformación\xa0de alimentos',
    'Energía',
    'IPPU',
    'Desechos',
    'Otro',
    'Sistemas agroalimentarios',
    'Farm gate',
    'Cambios de uso de la tierra',
    'Pre y\xa0post-producción',
    'Emisiones en tierras agrícolas',
    'Emisiones derivadas de los cultivos',
    'Emissiones derivadas del sector ganadero',
    'IPCC Agricultura',
    'Suelos agrícolas',
    'LULUCF',
    'AFOLU',
    'Emisiones totales incluyendo LULUCF',
    'Emisiones totales excluyendo LULUCF',
    'Fabricación de pesticidas',
    'Envasado alimentario']},
  'Código del elemento': {'min': 7225,
   'max': 724413,
   'mean': 353054.5237795528,
   'median': 7273.0,
   'p10': 7225.0,
   'p90': 724413.0},
  'Elemento': {'unique_values': ['Emisiones directas (N2O)',
    'Emisiones indirectas (N2O)',
    'Emisiones (N2O)',
    'Emisiones (CO2eq) proveniente de N2O (AR5)',
    'Emisiones (CO2eq) (AR5)',
    'Emisiones (CH4)',
    'Emisiones (CO2eq) proveniente de CH4 (AR5)',
    'Emisiones (CO2)',
    'Emisiones (CO2eq) proveniente de F-gases (AR5)']},
  'Código del año': {'min': 1961,
   'max': 2050,
   'mean': 1999.6311397382776,
   'median': 2002.0,
   'p10': 1975.0,
   'p90': 2018.0},
  'Año': {'min': 1961,
   'max': 2050,
   'mean': 1999.6311397382776,
   'median': 2002.0,
   'p10': 1975.0,
   'p90': 2018.0},
  'Código fuente': {'min': 3050,
   'max': 3051,
   'mean': 3050.0346495332647,
   'median': 3050.0,
   'p10': 3050.0,
   'p90': 3050.0},
  'Fuente': {'unique_values': ['FAO TIER 1', 'UNFCCC']},
  'Unidad': {'unique_values': ['mil toneladas']},
  'Valor': {'min': -12498697.5867,
   'max': 52659986.8363,
   'mean': 33972.43343967487,
   'median': 14.407,
   'p10': 0.0,
   'p90': 13308.5915},
  'Símbolo': {'unique_values': ['E', 'F', 'A']},
  'Nota': {'min': nan,
   'max': nan,
   'mean': nan,
   'median': nan,
   'p10': nan,
   'p90': nan}}}

In [32]:
data.isnull().sum()

Código del área                0
Código del área (M49)          0
Área                           0
Código del producto            0
Producto                       0
Código del elemento            0
Elemento                       0
Código del año                 0
Año                            0
Código fuente                  0
Fuente                         0
Unidad                         0
Valor                          0
Símbolo                        0
Nota                     2486527
dtype: int64

In [33]:
def analyze_dataframe_to_df(df):
    """
    This function takes a DataFrame as input and returns a new DataFrame with:
    - Column name
    - Data type
    - For categorical columns: unique values
    - For numerical columns: min, max, mean, median, 10th percentile, and 90th percentile
    """
    # Initialize lists to build the result DataFrame
    columns = []
    data_types = []
    unique_values = []
    min_values = []
    max_values = []
    mean_values = []
    median_values = []
    p10_values = []
    p90_values = []

    for column in df.columns:
        columns.append(column)
        data_type = df[column].dtype
        data_types.append(data_type)

        if pd.api.types.is_numeric_dtype(df[column]):
            # Numerical column statistics
            unique_values.append(None)
            min_values.append(df[column].min())
            max_values.append(df[column].max())
            mean_values.append(df[column].mean())
            median_values.append(df[column].median())
            p10_values.append(df[column].quantile(0.10))
            p90_values.append(df[column].quantile(0.90))
        elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':
            # Categorical column unique values
            unique_values.append(df[column].unique().tolist())
            min_values.append(None)
            max_values.append(None)
            mean_values.append(None)
            median_values.append(None)
            p10_values.append(None)
            p90_values.append(None)
        else:
            # For unsupported data types, fill with None
            unique_values.append(None)
            min_values.append(None)
            max_values.append(None)
            mean_values.append(None)
            median_values.append(None)
            p10_values.append(None)
            p90_values.append(None)

    # Create a DataFrame from the collected lists
    result_df = pd.DataFrame({
        'Column': columns,
        'Data Type': data_types,
        'Unique Values (Categorical)': unique_values,
        'Min': min_values,
        'Max': max_values,
        'Mean': mean_values,
        'Median': median_values,
        '10th Percentile': p10_values,
        '90th Percentile': p90_values
    })

    return result_df

# Example usage (assuming a DataFrame 'df' is available)
# analyzed_df = analyze_dataframe_to_df(df)
# analyzed_df

In [34]:
analyze_dataframe_to_df(data)

<ipython-input-33-4da366a53254>:34: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':
<ipython-input-33-4da366a53254>:34: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':
<ipython-input-33-4da366a53254>:34: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':
<ipython-input-33-4da366a53254>:34: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':
<ipython-input-33-4da366a53254>:34: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[column]) or df[column].dtype == 'object':

,Column,Data Type,Unique Values (Categorical),Min,Max,Mean,Median,10th Percentile,90th Percentile
0,Código del área,int64,None,1.000000e+00,5.873000e+03,942.775474,150.000,29.0,5300.0000
1,Código del área (M49),object,"['004, '008, '276, '020, '024, '660, '028, '53...",NaN,NaN,NaN,NaN,NaN,NaN
2,Área,object,"[Afganistán, Albania, Alemania, Andorra, Angol...",NaN,NaN,NaN,NaN,NaN,NaN
3,Código del producto,int64,None,1.707000e+03,6.992100e+04,7951.645431,6517.000,1711.0,6995.0000
4,Producto,object,"[Residuos agrícolas, Cultivo del arroz, Quemad...",NaN,NaN,NaN,NaN,NaN,NaN
5,Código del elemento,int64,None,7.225000e+03,7.244130e+05,353054.523780,7273.000,7225.0,724413.0000
6,Elemento,object,"[Emisiones directas (N2O), Emisiones indirecta...",NaN,NaN,NaN,NaN,NaN,NaN
7,Código del año,int64,None,1.961000e+03,2.050000e+03,1999.631140,2002.000,1975.0,2018.0000
8,Año,int64,None,1.961000e+03,2.050000e+03,1999.631140,2002.000,1975.0,2018.0000
9,Código fuente,int64,None,3.050000e+03,3.051000e+03,3050.034650,3050.000,3050.0,3050.0000
10,Fuente,object,"[FAO TIER 1, UNFCCC]",NaN,NaN,NaN,NaN,NaN,NaN
11,Unidad,object,[mil toneladas],NaN,NaN,NaN,NaN,NaN,NaN
12,Valor,float64,None,-1.249870e+07,5.265999e+07,33972.433440,14.407,0.0,13308.5915
13,Símbolo,object,"[E, F, A]",NaN,NaN,NaN,NaN,NaN,NaN
14,Nota,float64,None,NaN,NaN,NaN,NaN,NaN,NaN